@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Noto+Serif&display=swap');
body{
   background-color: ghostwhite;
    /*  */
    
}
.img-fluid{
    margin-top: 2rem;
    border: 0.4rem solid #002333;
    width: 80%;
   
}
.col-lg-3{
    background-image : linear-gradient(to right top, #2e0537, #40195d, #493089, #454ab9, #1267eb);
}

.my-interest{
    padding-top: 2rem;
    padding-left: 2rem;
    color: ghostwhite;
    
    
}

.col-lg-9{
    background-color: #EEF2FF;
}

.name{
    
    color: ghostwhite;
    padding-top: 2rem;

}
.name .programme{
    
   
      color: #56BBF1;
      font-size: 1.2rem;
      text-transform: uppercase;
      
}

.line{
    color: white;
    width: 75%;
    margin-left: 2.5rem; 
   
}
.about-section{
    font-size: 1.1rem;
}
.headings{
    
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #557B83;
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
    font-weight: 800;
}
.heading  {
    
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
    font-weight:bold;
    padding-left: 2.3rem;
}

.fiverr{
    padding-left: 3.1rem;

}
.exp-gd{
    padding-top: 1.5rem;
}
.upwork{

    padding-top: 2.5rem;
    padding-left: 2.5rem;
}
.exp-disc{
    padding-top: 3.5rem;
    
}

.exp-title{
    padding-top: 3.6rem;
}
.heading-s{
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
    font-weight:bold;
    color: #557B83;
}

.contact-info ul{
    padding-top: 2rem;
    padding-left: 2rem;
}

.contact-info ul li{
    padding: .4rem 0;
    color: ghostwhite;
    font-weight: 600;
    font-size: medium;
}
.fa-phone, .fa-envelope{
    padding-right: 1rem;
    font-size: 1.2rem;
    color: #2D9CDB;
}

.fa-facebook-f{
    padding-right: 1rem;
    font-size: 1.2rem;
    color: #2D9CDB;
}
.fa-instagram{
     padding-right: 1.1rem;
    font-size: 1.3rem;
    color: #2D9CDB;
}
.fa-house{
 padding-right: 0.8rem;
    font-size: 1.3rem;
    color: #2D9CDB;
}
.skills{
    padding-left: 6rem;
    display: inline-block;
}
.c-skills{
    padding-left: 5.9rem;
    display: inline-block;
}
.sql-skills{
    padding-left: 6.12rem;
    display: inline-block;
}

.js-skills{
    padding-left: 3.4rem;
    display: inline-block;
}
.py-skills{
    padding-left: 4.7rem;
    display: inline-block;
}
.r-skills{
    padding-left: 5.4rem;
    display: inline-block;
}
.html-skills{
    padding-left: 3rem;
    display: inline-block;
}
.cs-skills{
    padding-left: 6.6rem;
    display: inline-block;
}




.circle1{
    color: #a5a5a5; 
    font-size: 4rem; 
    margin-top: 7px;
}
.circle{
    color: #fff; 
    font-size: 4rem; 
    margin-top: 7px;
}