@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Noto+Serif&display=swap');
body{
   background-color: ghostwhite;    
}
.main{
    margin-top:5rem;
    margin-bottom:5rem ;
}
.img-fluid{
    margin-top: 2rem;
    border: 0.4rem solid #002333;
    width: 80%;
   
}
.left-container{
    background-image : linear-gradient(to right top, #2e0537, #40195d, #493089, #454ab9, #1267eb);
}

.my-interest{
    padding-top: 0.5rem;
    padding-left: 2rem;
    color: ghostwhite;
    
}

.my-lists{
    text-transform: uppercase;
    padding-right: 1.5rem;
}
.right-container{
    background-color: #EEF2FF;
}

.name{
    
    color: ghostwhite;
    padding-top: 2rem;

}
.name .programme{
    
   
      color: #56BBF1;
      font-size: 1.2rem;
      text-transform: uppercase;
      
}

.line{
    color: white;
    width: 75%;
    margin-left: 2.5rem; 
   
}
.about-section{
    font-size: 1.1rem;
}
.progress{

    margin-top: 1.2rem;
    margin-bottom: 1rem;
    padding-left: 0px;
}
.headings{
    
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #557B83;
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
    font-weight: 800;
    position:relative;
}
.headings-edu{
    padding-top: 4rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #557B83;
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
    font-weight: 800;
    position:relative;
}
.heading  {
    
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
    font-weight:bold;
    padding-left: 2.3rem;
}

/* .fiverr{
    padding-left: 3.1rem;

}
.upwork{

    padding-top: 3rem;
    padding-left: 2.5rem;

} */
.exp-gd{
    padding-top: 1.5rem;
    padding-left: 2rem;
}

.exp-disc{
    padding-top: 3.5rem;
    padding-left: 2rem;
    
}

.exp-title{
    padding-top: 3.6rem;
    /* border-right: 1px solid #ccc; */
}
.heading-s{
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    padding-bottom: 1.2rem;
    margin-top: 1.2rem;
    font-size: 1.3rem;
    font-weight:bold;
    color: #557B83;
}
.heading-mt{
    /* padding-top: 2rem;
    margin-top: 0.5rem; */
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight:bold;
    color: #557B83;
}
.edu-mt{
    padding-top: 2.5rem;
    margin-top: 1rem;
    padding-left: 2rem;
}
.edu-discription{
    padding-top: 0.8rem;
}
.edu-div{
        padding-top: 3.6rem;
        /* border-right: 1px solid #ccc; */
    

}
.contact-info ul{
    padding-top: 1rem;
    padding-left: 2rem;
}

.contact-info ul li{
    padding: .4rem 0;
    color: ghostwhite;
    font-weight: 600;
    font-size: medium;
}
.fa-phone, .fa-envelope{
    padding-right: 1rem;
    font-size: 1.2rem;
    color: #2D9CDB;
}

.fa-facebook-f{
    padding-right: 1rem;
    font-size: 1.2rem;
    color: #2D9CDB;
}
.fa-instagram{
     padding-right: 1.1rem;
    font-size: 1.3rem;
    color: #2D9CDB;
}
.fa-house{
 padding-right: 0.8rem;
    font-size: 1.3rem;
    color: #2D9CDB;
}

.fadeinleft {
    opacity: 0;
    margin-left: -300px;
    max-width: 100%;
}